.fcm-profile-details-header {
  min-height: 80vh;
  position: relative;
  background: #151e2d;

  .fcm-profile-details-header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    width: 20rem;
    margin: 10rem auto;
  }
}
