<div class="fcm-position-section"
     *ngFor="let position of positions; let i = index"
     [ngClass]="{'five-members': position.members.length === 5,
                 'one-member': position.members.length === 1,
                 'ten-members': position.members.length === 10}">
  <h3 class="fcm-position-title">
    {{position.positionName}}
  </h3>
  <div class="fcm-position-members-wrap">
    <ng-container *ngFor="let member of position.members; let i = index">
      <app-team-member [member]="member"></app-team-member>
    </ng-container>
  </div>
</div>
