.#{$prefix}position-section {
  display: flex;
  flex-direction: column;
  
  @media screen and (max-width: 1400px) {
    align-items: center;
  }
  
  &.one-member {
    @media screen and (max-width: 326px) {
      align-items: initial;
  
      .#{$prefix}position-title {
        text-align: center;
      }
    }
  }
  
  &.five-members {
    
    app-team-member {
      
      @media screen and (max-width: 1057px) {
        &:nth-of-type(4) {
          margin-right: 1.6rem;
        }
        
        &:nth-of-type(3) {
          margin-left: 1.6rem;
        }
      }
      
      @media screen and (max-width: 716px) {
        &:nth-of-type(4n + 0),
        &:nth-of-type(3n + 0),
        &:nth-of-type(2n + 0),
        &:not(:last-of-type) {
          margin: 0 0 1.6rem 0;
        }
      }
    }
  }
  
  &.ten-members {
    
    app-team-member {
      
      @media screen and (max-width: 1401px){
        
        &:nth-of-type(3n + 0) {
          margin-right: 1.6rem;
        }
        
        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(7) {
          margin-left: 1.6rem;
        }
      }
      
      @media screen and (max-width: 1089px) {
        &:nth-of-type(3n + 0) {
          margin-right: 0;
        }
  
        &:nth-of-type(2n + 0):not(:nth-of-type(6)):not(:nth-of-type(10)) {
          margin-right: 1.6rem;
        }
  
        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(7) {
          margin-left: 0;
        }
      }
  
      @media screen and (max-width: 1057px) {
        &:nth-of-type(3n + 0) {
          margin-right: 1.6rem;
        }
  
        &:nth-of-type(2n + 0):not(:nth-of-type(6)):not(:nth-of-type(10)) {
          margin-right: 0;
        }
    
        &:nth-of-type(2n + 0) {
          margin-right: 0;
        }
      }
  
      @media screen and (max-width: 716px) {
        &:nth-of-type(4n + 0),
        &:nth-of-type(3n + 0),
        &:nth-of-type(2n + 0),
        &:not(:last-of-type) {
          margin: 0 0 1.6rem 0;
        }
      }
    }
  }
  
  .#{$prefix}position-members-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2.4rem;
    
    @media screen and (max-width: 1400px) {
      justify-content: center;
    }
  
    @media screen and (max-width: 716px) {
      margin: 0 4rem;
    }
  
    @media screen and (max-width: 326px) {
      margin: 0;
    }
  }
  
  app-team-member {
    margin-bottom: 1.6rem;
    
    &:not(:last-of-type) {
      margin-right: 1.6rem;
    }
    
    &:nth-of-type(4n + 0) {
      margin-right: 0;
      
      @media screen  and (max-width: 1400px){
        margin-right: 1.6rem;
      }
    }
    
    @media screen and (max-width: 1400px) {
      &:nth-of-type(3n + 0) {
        margin-right: 0;
      }
    }
  
    @media screen and (max-width: 1057px) {
      &:nth-of-type(3n + 0) {
        margin-right: 1.6rem;
      }
      
      &:nth-of-type(2n + 0) {
        margin-right: 0;
      }
    }
  
    @media screen and (max-width: 716px) {
      &:nth-of-type(4n + 0),
      &:nth-of-type(3n + 0),
      &:nth-of-type(2n + 0),
      &:not(:last-of-type) {
        margin: 0 0 1.6rem 0;
      }
    }
    
    @media screen and (max-width: 326px) {
      width: 100%;
    }
  }
}
