/// @group fcm-team-member-card
.#{$prefix}team-member {
  background-color: $fcm-team-member-background-color;
  color: $fcm-team-member-color;
  cursor: pointer;
  height: $fcm-team-member-height;
  //margin-bottom: $fcm-team-member-bottom-spacer;
  position: relative;
  user-select: none;
  max-width: $fcm-team-member-max-width;
  min-width: $fcm-team-member-max-width;
  box-shadow: $fcm-team-member-box-shadow;
  
  @include media-breakpoint-down(lg) {
    min-width: auto;
  }
  
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  
  
  .#{$prefix}team-member-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    transition: $fcm-team-member-img-transition;
    height: 100%;
  }
  
  &:hover {
  
    .#{$prefix}team-member-img {
      filter: grayscale(100%);
    }
    
    // Team member overlay hover content
    .#{$prefix}team-member-overlay {
      opacity: 1;
      visibility: visible;
  
      .#{$prefix}overlay-flying-cont {
        transform: translateX(0%);
      }
    }
  
    // Team member hover content
    .#{$prefix}team-member-content {
      
      .#{$prefix}content-header {
        color: $fcm-content-overlayed-header-color;
      }
  
      .#{$prefix}content-body {
        
        .#{$prefix}content-body-position-title {
          opacity: 0;
          visibility: hidden;
        }
        
        .#{$prefix}content-body-name {
          color: $fcm-content-body-overlayed-name-color;
        }
      }
  
      .#{$prefix}content-footer {
        background-color: $secondary;
      }
    }
  }
  
  // team member mask
  &::before {
    background-color: transparent;
    background-image: linear-gradient($fcm-team-member-mask);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  // Team member overlay content
  .#{$prefix}team-member-overlay {
    background-color: $fcm-team-member-overlay-bg-color;
    display: flex;
    height: $fcm-team-member-overlay-height;
    opacity: 0;
    overflow: hidden;
    padding: $fcm-team-member-overlay-padding;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: $fcm-team-member-overlay-transition;
    visibility: hidden;
    width: 100%;
  
    .#{$prefix}overlay-flying-cont {
      transform: translateX(-100%);
      transition: $fcm-overlay-flying-cont-transition;
    }
  
    .#{$prefix}overlay-stats-holder {
      color: $fcm-overlay-stats-holder-color;
      display: flex;
      flex-direction: column;
    
      span {
        &:last-child {
          font-size: $fcm-overlay-stats-holder-desc-font-size;
        }
      }
    }
  
    .#{$prefix}overlay-stats-number {
      color: $fcm-overlay-stats-number-color;
      font-family: $fcm-overlay-stats-number-font-family;
      font-size: $fcm-overlay-stats-number-font-size;
      line-height: 1;
    }
  }
  
  // Team member content
  .#{$prefix}team-member-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  
    .#{$prefix}content-header {
      color: $fcm-content-header-color;
      font-family: $fcm-content-header-font-family;
      font-size: $fcm-content-header-font-size;
      padding: $fcm-content-header-padding;
      transition: $fcm-content-header-transition;
      z-index: 1; // needs to be set because of mask
    }
  
    .#{$prefix}content-body {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      padding: $fcm-content-body-padding;
      z-index: 1; // needs to be set because of mask
  
      .#{$prefix}content-body-position-title {
        color: $fcm-content-body-position-title-color;
        font-family: $fcm-content-body-position-title-font-family;
        opacity: 1;
        text-transform: uppercase;
        transition: $fcm-content-body-position-title-transition;
        visibility: visible;
      }
  
      .#{$prefix}content-body-name {
        font-family: $fcm-content-body-name-font-family;
        font-size: $fcm-content-body-name-font-size;
        margin-bottom: 0;
      }
    }
  
    .#{$prefix}content-footer {
      border-top: $fcm-content-footer-border-top;
      font-family: $fcm-content-footer-font-family;
      font-size: $fcm-content-footer-font-size;
      padding: $fcm-content-footer-padding;
      transition: $fcm-content-footer-transition;
      z-index: 1; // needs to be set because of mask
    }
  }
}
