/// @name sponsors-css-generator
/// @author Stevan Stojanovic
/// @param $class-list {list} list of sponsors sinqle quoted without comma stored in var.scss
/// Basicly this is custom component for sponsors bar and sponsor icons bar

@mixin sponsors-css-generator(
  $sponsors-list: $fcm-list-of-sponsors,
  $sponsors-img-sufix: '.png'
) {
  
  /// @group default-sponsor-bar
  .#{$prefix}sponsors-bar {
    padding: $default-sponsors-bar-padding;
    position: relative;
    display: flex;
    
    &.#{$prefix}footer-sponsors {
      padding: 4rem;
      
      @media screen and (max-width: 360px){
        padding: 4rem 0;
      }
      
      &::before {
        content: '';
        width: calc(100% - 4.8rem);
        left: 2.4rem;
        height: $default-sponsors-bar-border-width;
        background-color: $footer-sponsors-border-color;
        position: absolute;
        bottom: 0;
      }
      
      .#{$prefix}sponsor {
        
        &:not(:last-of-type) {
          margin-right: $footer-sponsor-spacing-right;
        }
      }
    }
    
    &.#{$prefix}profile-body-sponsors {
      &::before {
        content: '';
        width: calc(100% - 4.8rem);
        left: 2.4rem;
        height: $default-sponsors-bar-border-width;
        background-color: $profile-sponsors-border-color;
        position: absolute;
        top: 0;
      }
      
      .#{$prefix}sponsor {
        
        &:not(:last-of-type) {
          margin-right: $default-sponsor-spacing-right;
          
          @include media-breakpoint-down(xs) {
            margin-right: $profile-sponsor-spacing-right-xs;
          }
        }
      }
    }
  
    /// @group default-sponsor-bar
    .#{$prefix}sponsors-bar-holder {
      display: flex;
      justify-content: center;
      flex: 1;
    }
    
    /// @group default-sponsor-bar
    .#{$prefix}sponsor {
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: $default-sponsor-width;
      height: $default-sponsor-height;
      
      &:not(:last-of-type) {
        margin-right: $default-sponsor-spacing-right;
      }
      
      @include media-breakpoint-down(sm) {
        width: $default-sponsor-width-sm;
      }
      
      @include media-breakpoint-down(xs) {
        width: $default-sponsor-width-xs;
      }
      
      @for $i from 1 through length($sponsors-list) {
        
        $list-of-classes: nth($sponsors-list, $i);
        
        @each $class in $list-of-classes {
          
          &.#{$class} {
            background-image: url($fcm-img-path + $class + $sponsors-img-sufix);
          }
        }
      }
    }
  }
  
  @content;
}

@include sponsors-css-generator;
