/// fcm default sponsor spacing right
/// @group default-sponsor-bar
$default-sponsor-spacing-right: 5rem;

/// fcm default sponsor width
/// @group default-sponsor-bar
$default-sponsor-width: 10rem;

/// fcm default sponsor height
/// @group default-sponsor-bar
$default-sponsor-height: 6rem;

/// fcm default sponsor width sm
/// @group default-sponsor-bar
$default-sponsor-width-sm: 7rem;

/// fcm default sponsor width xs
/// @group default-sponsor-bar
$default-sponsor-width-xs: 4rem;

/// fcm default sponsors bar padding
/// @group default-sponsor-bar
$default-sponsors-bar-padding: 2rem;

/// fcm default sponsors bar border width
/// @group default-sponsor-bar
$default-sponsors-bar-border-width: 2px;

/// fcm footer sponsors border color
/// @group footer-sponsor-bar
$footer-sponsors-border-color: $secondary;

/// fcm footer sponsors border color
/// @group footer-sponsor-bar
$footer-sponsor-spacing-right: 2rem;

/// fcm profile sponsor spacing right
/// @group profile-sponsor-bar
$profile-sponsor-spacing-right-xs: 3rem;

/// fcm profile sponsor border color
/// @group profile-sponsor-bar
$profile-sponsors-border-color: #e9e9e9;
