<div class="fcm-footer">
  <div class="fcm-footer-inner container">
    <div class="fcm-sponsors-bar fcm-footer-sponsors">
      <div class="fcm-sponsors-bar-holder">
        <div class="fcm-sponsor sponsor-1"></div>
        <div class="fcm-sponsor sponsor-2"></div>
        <div class="fcm-sponsor sponsor-3"></div>
        <div class="fcm-sponsor sponsor-4"></div>
        <div class="fcm-sponsor sponsor-5"></div>
      </div>
    </div>
    
    <div class="fcm-footer-grid">
      <div class="fcm-footer-nav-holder">
        <div class="fcm-footer-nav-row">
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
            </ul>
          </div>
        </div>
        <div class="fcm-footer-nav-row">
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6>Nav headline</h6>
            <ul>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
              <li>Sponosrs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="fcm-footer-logo-holder">
        <div class="fcm-social-bar">
          <div class="fcm-social-bar-header">
            <h6 class="fcm-social-bar-title">Join us</h6>
          </div>
          <div class="fcm-social-bar-body">
            <div class="fcm-social-bar-icon facebook"></div>
            <div class="fcm-social-bar-icon instagram"></div>
            <div class="fcm-social-bar-icon twitter"></div>
            <div class="fcm-social-bar-icon youtube"></div>
          </div>
        </div>
        <div class="fcm-footer-logo"></div>
      </div>
    </div>
  </div>
</div>
