<div class="fcm-footer">
  <div class="fcm-footer-inner">
    <app-sponsors-bar [footerSponsor]="true"></app-sponsors-bar>
    <div class="fcm-footer-grid">
      <div class="fcm-footer-nav-holder">
        <div class="fcm-footer-nav-row">
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              Firts team
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Stories
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  The squad
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Fixtures & Results
                </a>
              </li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              Women's team
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Stories
                </a>
              </li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              The club
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Sponsors
                </a>
              </li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              Tickets
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Football
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Our offers
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Stadium
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Hospitality
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Ticket office
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fcm-footer-nav-row">
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              Services
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Contact us
                </a>
              </li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              Other
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Shop
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Press room
                </a>
              </li>
            </ul>
          </div>
          <div class="fcm-footer-nav">
            <h6 class="fcm-footer-nav-title">
              Languges
            </h6>
            <ul>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Serbian
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  Deutchland
                </a>
              </li>
              <li>
                <a class="fcm-footer-nav-link" href="#">
                  English
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="fcm-footer-logo-holder">
        <app-social-bar></app-social-bar>
        <div class="fcm-footer-logo"></div>
      </div>
    </div>
  </div>
</div>
