<div class="fcm-footer">
  <div class="fcm-footer-inner container">
    <div class="fcm-footer-sponsors">
      <div class="fcm-footer-sponsors-holder">
        <div class="fcm-footer-sponsor"></div>
        <div class="fcm-footer-sponsor"></div>
        <div class="fcm-footer-sponsor"></div>
        <div class="fcm-footer-sponsor"></div>
        <div class="fcm-footer-sponsor"></div>
      </div>
    </div>
    <div class="fcm-footer-social-bar">
        <h6>Join us</h6>
        <div class="fcm-social-bar">
          <div class="fcm-social-bar-icon"></div>
          <div class="fcm-social-bar-icon"></div>
          <div class="fcm-social-bar-icon"></div>
          <div class="fcm-social-bar-icon"></div>
        </div>
    </div>
  </div>
</div>
