/// fcm social bar max width
/// @group social-bar
$social-bar-max-width: 12.6rem;

/// fcm social icon size
/// @group social-bar
$social-icon-size: 2.4rem;

/// fcm social icon spacing right
/// @group social-bar
$social-icon-spacing-right: 1rem;

/// fcm social icon opacity
/// @group social-bar
$social-icon-opacity: .7;

/// fcm social icon opacity hover
/// @group social-bar
$social-icon-opacity-hover: 1;

/// fcm social bar title color
/// @group social-bar
$social-bar-title-color: $white;

/// fcm social bar title font family
/// @group social-bar
$social-bar-title-font-family: $fcm-font-family-gothic;
