.#{$prefix}results-content {
  
  .#{$prefix}table-row {
    display: flex;
    padding: 2rem;
  }
  // TODO responsivness
  .#{$prefix}teams-result {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
