<div class="fcm-squad-page">
  <div class="fcm-squad-page-content">
    <app-info-container [confing]="headerConfing"></app-info-container>
    <div class="fcm-body">
      <div class="fcm-squad-filter-container">

        <ul>
          <li role="tab">
            <a href="#">
              Players
            </a>
          </li>
          <li role="tab">
            <a href="#">
              Staff
            </a>
          </li>
        </ul>

        <div>
          <select>
            <option value="2014/15">2014/15</option>
            <option value="2015/16">2015/16</option>
            <option value="2016/17">2016/17</option>
            <option value="2017/18">2017/18</option>
            <option value="2018/19" selected="">2018/19</option>
            <option value="2019/20">2019/20</option>
          </select>
        </div>
      </div>
      <app-positions></app-positions>
    </div>
  </div>
</div>

