<div class="fcm-squad-page">
    <app-info-container [confing]="headerConfing" class="fcm-squad-info-cont"></app-info-container>
    <div class="fcm-body">
      <div class="fcm-squad-filter-container">
        <div class="btn-group" role="group">
          <button type="button" (click)="handleActiveButton($event)" class="btn">Players</button>
          <button type="button" (click)="handleActiveButton($event)" class="btn">Stuff</button>
        </div>
        <div class="fcm-squad-season-filter">
          <select class="fcm-squad-filter-select"
                  (click)="toogleSlelectActive()"
                  [ngClass]="{'active': selectActive}">
            <option value="2014/15">2014/15</option>
            <option value="2015/16">2015/16</option>
            <option value="2016/17">2016/17</option>
            <option value="2017/18">2017/18</option>
            <option value="2018/19" selected="">2018/19</option>
            <option value="2019/20">2019/20</option>
          </select>
        </div>
      </div>
      <app-positions></app-positions>
    </div>
</div>
<app-footer></app-footer>

