.#{$prefix}league-content {
  margin: 0 2.4rem;
  
  @media screen and(max-width: 882px) {
    margin: 0 1rem;
  }
  
  @media screen and(max-width: 530px) {
    margin: 0;
  }
  
  .#{$prefix}table {
    
    .#{$prefix}table-row {
      min-height: 7rem;
    }
    
    .#{$prefix}table-cell {
      padding: $fcm-table-cell-padding;
      width: 7rem;
      font-size: $fcm-font-size;
  
      @media screen and (max-width: 882px) {
        padding: 0 1rem;
        
        &:not(.team-cell) {
          width: 5rem;
        }
      }
  
      @media screen and (max-width: 665px) {

        &:not(.team-cell) {
          width: 4.3rem;
        }
      }
      
      
      @media screen and (max-width: 597px) {
    
        &:not(.team-cell) {
          width: 3.5rem;
        }
      }
  
      @media screen and (max-width: 530px) {
        &:nth-of-type(8),
        &:nth-of-type(9),
        &:nth-of-type(10) {
          display: none;
        }
      }
  
      @media screen and (max-width: 375px) {
        font-size: $fcm-font-size-sm;
      }
      
      &.first-cell {
        font-family: $fcm-font-family-bold;
      }
    }
    
    .#{$prefix}team-avatar {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
    }
  }
}
