/// app table row transition
/// @group fcm-table
$fcm-table-row-transition: background-color .2s ease-in-out !default;

/// app table row hover background color
/// @group fcm-table
$fcm-table-row-hover-bg-color: rgba($secondary, .3) !default;

/// app table cell padding
/// @group fcm-table
$fcm-table-cell-padding: 2rem !default;
