.#{$prefix}footer {
  background-color: $primary-medium-dark;
  display: flex;
  justify-content: center;
  
  .#{$prefix}footer-inner {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .#{$prefix}footer-grid {
    display: flex;
    color: white;
    padding: 4rem 0;
    
    .#{$prefix}footer-nav-holder {
      flex: 1;
      display: flex;
      max-width: 100.14rem;
      flex-direction: column;
    }
    
    .#{$prefix}footer-nav-row {
      display: flex;
      
      .#{$prefix}footer-nav {
        flex: 1;
        max-width: 25.3rem;
      }
    }
    
    .#{$prefix}footer-logo-holder {
      display: flex;
      flex-direction: column;
      
      .#{$prefix}footer-logo {
        margin-top: 10rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-image: url('#{$fcm-img-path}logo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
