/// this styling is needed because of scroll down hide scroll up show functionality
app-nav-bar {
  position: fixed;
  top: 0;
  transition: unquote($fcm-navbar-transition);
  width: 100%;
  
  /// giving navbar background color when scrolled down above 100px(height of the nav). This can be confusing but we have functionality when scroll down transform: translateY(-100px) at the same time we have this class but its not visible to the user. We get coloured nav when scrolling up but when we come to to top of the page we lose bg-color, hopefuly this make sense :D
  
  &.#{$prefix}navbar-bg {
    background-color: $fcm-navbar-bg-color;
  }
}

/// App navbar wrapper
.#{$prefix}navbar {
  min-height: $fcm-navbar-logo-size;
  padding: $fcm-navbar-padding;
  /// this must stay initialy after scroll we set this to 0 with JS
  top: 60px;
  transition: unquote($fcm-navbar-transition);
  
  &.side-menu-open {
    background-color: $fcm-navbar-bg-color;
  }
  
  /// Left side of nav
  .#{$prefix}list-of-links {
    flex-direction: row;
    
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  .nav-item {
    transition: unquote($fcm-navbar-nav-item-transition);
    color: $fcm-navbar-nav-item-color;
    
    &:hover {
      background-color: $fcm-navbar-nav-item-over-bg-color;
    }
  }
  
  .nav-link {
    color: inherit;
  }
  
  /// Middle of nav
  .#{$prefix}logo {
    background-image: url('#{$fcm-img-path}logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $fcm-navbar-logo-size;
    position: absolute;
    right: calc(50% - #{$fcm-navbar-logo-size / 2});
    top: 0;
    width: $fcm-navbar-logo-size;
    z-index: 1;
  }
  
  /// Right side of nav
  .navbar-right-side {
    margin-right: ($fcm-navbar-right-side-margin - 2);
    margin-top: $fcm-navbar-right-side-margin;
  }
  
  .dropdown {
    height: $fcm-navbar-dropdown-height;
  }
  
  // removing bootstrap default carret icon
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}

/// Side menu styling
.#{$prefix}side-menu {
  height: 100vh;
  
  &.collapse:not(.show){
    display: block;
  }
  
  .navbar-nav {
    background-color: transparent;
    height: 100%;
    padding: $fcm-side-nav-navbar-padding;
    transform: translateX(-#{$fcm-side-nav-navbar-width});
    transition: unquote($fcm-side-nav-navbar-transition);
    width: 0;
  }
  
  .nav-item {
    color: $fcm-side-nav-item-color;
    transition: unquote($fcm-navbar-nav-item-transition);
    
    &:hover {
      color: $fcm-side-nav-item-over-color;
    }
  }
  
  .nav-link {
    color: inherit;
  }
  
  &.show {
    .navbar-nav {
      transform: translateX(0);
      width: $fcm-side-nav-navbar-width;
      background-color: $fcm-side-nav-navbar-active-bg-color;
    }
  }
}

/// Top bar styling
.#{$prefix}top-bar {
  background-color: $fcm-top-bar-bg-color;
  color: $fcm-top-bar-color;
  padding: $fcm-top-bar-padding;
}

.#{$prefix}top-bar-sponsor-logo {
  background-image: url('#{$fcm-img-path}ericsson-sponsor.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: $fcm-top-bar-logo-height;
  width: $fcm-top-bar-logo-width;
}

.#{$prefix}top-bar-sponsor-label {
  font-size: $fcm-top-bar-label-font-size;
  height: $fcm-top-bar-label-height;
  display: flex;
  align-items: flex-end;
  color: $fcm-top-bar-label-color;
}
