/// this styling is needed because of scroll down hide scroll up show functionality
app-nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: unquote($fcm-navbar-transition);
  
  /// giving navbar background color when scrolled down above 100px(height of the nav). This can be confusing but we have functionality when scroll down transform: translateY(-100px) at the same time we have this class but its not visible to the user. We get coloured nav when scrolling up but when we come to to top of the page we lose bg-color, hopefuly this make sense :D
  
  &.#{$prefix}navbar-bg {
    background-color: rgba(#151e2d, .9);
  }
}

/// App navbar wrapper
.#{$prefix}navbar {
  min-height: $fcm-navbar-logo-size;
  padding: $fcm-navbar-padding;
  
  /// removing custom toogler from 768px above
  .menu-white-big-icon {
    @media screen and (min-width: 768px){
      display: none;
    }
  }
  
  .dropdown {
    height: $fcm-navbar-dropdown-height;
  }
  
  // removing bootstrap default carret icon
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
  
  // navbar right side
  .navbar-right-side {
    margin-right: ($fcm-navbar-right-side-margin - 2);
    margin-top: $fcm-navbar-right-side-margin;
  }
  
  // navbar logo
  .#{$prefix}logo {
    background-image: url('#{$fcm-img-path}logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: $fcm-navbar-logo-size;
    position: absolute;
    right: calc(50% - #{$fcm-navbar-logo-size / 2});
    top: 0;
    width: $fcm-navbar-logo-size;
    z-index: 1;
  }
  
  // navbar item
  .nav-item {
    transition: $fcm-nav-item-transition;
    
    &:hover {
      background-color: $fcm-nav-item-hover-background-color;
    }
  }
  
  // navbar link
  .nav-link {
    color: $fcm-nav-link-color;
  }
}
