.#{$prefix}section-bg-img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 100vh !important;
    position: relative !important;
}
