/// @group side-nav
.#{$prefix}side-menu {
  height: 100vh;
  pointer-events: none;
  
  &.collapse:not(.show){
    display: block;
  }
  
  .navbar-nav {
    background-color: transparent;
    pointer-events: all;
    height: 100%;
    padding: $fcm-side-nav-navbar-padding;
    transform: translateX(-#{$fcm-side-nav-navbar-width});
    transition: unquote($fcm-side-nav-navbar-transition);
    width: 0;
  }
  
  .nav-item {
    color: $fcm-side-nav-item-color;
    transition: unquote($fcm-navbar-nav-item-transition);
    
    &:hover {
      color: $fcm-side-nav-item-over-color;
    }
  }
  
  .nav-link {
    color: inherit;
  }
  
  &.show {
    .navbar-nav {
      transform: translateX(0);
      width: $fcm-side-nav-navbar-width;
      background-color: $fcm-side-nav-navbar-active-bg-color;
    }
  }
}
