.#{$prefix}social-bar {
  display: flex;
  
  .#{$prefix}social-bar-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 2.4rem;
    margin-right: 1rem;
    width: 2.4rem;
    
    &:nth-of-type(1) {
      background-image: url('#{$fcm-img-path}facebook.svg');
    }
    
    &:nth-of-type(2) {
      background-image: url('#{$fcm-img-path}twitter.svg');
    }
    
    &:nth-of-type(3) {
      background-image: url('#{$fcm-img-path}instagram.svg');
    }
    
    &:nth-of-type(4) {
      background-image: url('#{$fcm-img-path}youtube.svg');
    }
  }
}
