/// fcm btn underline min width
$fcm-btn-underline-min-width: 20rem !default;

/// fcm btn underline font size
$fcm-btn-underline-font-size: $fcm-font-size-md !default;

/// fcm btn underline color
$fcm-btn-underline-color: #fff !default;

/// fcm btn underline height
$fcm-btn-underline-stripe-height: 2px !default;

/// fcm btn underline stripe transition
$fcm-btn-underline-stripe-transition: 'width .3s ease-in-out' !default;

/// fcm btn underline stripe 1 bg color
$fcm-btn-underline-stripe-1-bg-color: $secondary !default;

/// fcm btn underline stripe 2 bg color
$fcm-btn-underline-stripe-2-bg-color: rgba($white, .7) !default;
