/// info bar max width
$fcm-info-bar-max-width: 700px !default;

/// info bar color
$fcm-info-bar-color: $white !default;

/// info bar title text shadow
$fcm-info-bar-color: $white !default;

/// info bar context color
$fcm-info-bar-context-color: #ff1541 !default;

/// info bar context font-family
$fcm-info-bar-context-font-family: $fcm-font-family-medium !default;

/// info bar context text transform
$fcm-info-bar-context-text-transform: 'uppercase' !default;

/// info bar title text shadow
$fcm-info-bar-title-text-shadow: 1px 1px 1px $black !default;

/// info bar btn color
$fcm-info-bar-btn-color: $white !default;
