/// navbar padding
$fcm-navbar-padding: 10px !default;

/// navbar right side holder margin
$fcm-navbar-right-side-margin: 18px !default;

/// navbar dropdown height
$fcm-navbar-dropdown-height: 24px !default;

/// navbar dropdown height
$fcm-navbar-logo-size: 56px !default;

/// navbar link color
$fcm-nav-link-color: #fff !default;

/// navbar nav item transition
$fcm-nav-item-transition: unquote('all .2s ease-in-out') !default;

/// navbar nav item hover background color
$fcm-nav-item-hover-background-color: rgba(#ccc, .3) !default;
