/// profile body font size
/// @group profile-details-body
$fcm-profile-body-font-size: 1.5rem !default;

/// profile body section padding
/// @group profile-details-body
$fcm-profile-body-section-padding: 6rem 4rem !default;

/// profile body section right background color
/// @group profile-details-body
$fcm-profile-body-section-right-bg-color: #fafafa !default;

/// profile body player number color
/// @group profile-details-body
$fcm-profile-body-player-number-color: $secondary !default;

/// profile body player number font family
/// @group profile-details-body
$fcm-profile-body-player-number-font-family: $fcm-font-family-gothic !default;

/// profile body player number font size
/// @group profile-details-body
$fcm-profile-body-player-number-font-size: 50rem !default;

/// profile body player number font weight
/// @group profile-details-body
$fcm-profile-body-player-number-font-weight: 500 !default;

/// profile body player img size
/// @group profile-details-body
$fcm-profile-body-player-img-size: 68.5rem !default;

/// profile body section player name font size
/// @group profile-details-body
$fcm-profile-body-section-player-font-size: 2rem !default;

/// profile body section player name font family
/// @group profile-details-body
$fcm-profile-body-section-player-font-family: $font-weight-bold !default;

/// profile body section player info item label color
/// @group profile-details-body
$fcm-profile-body-section-player-info-item-label-color: #9d9c9c !default;

/// profile body section player info item flag width
/// @group profile-details-body
$fcm-profile-body-section-player-info-item-flag-width: 1.8rem !default;

/// profile body section player info item flag height
/// @group profile-details-body
$fcm-profile-body-section-player-info-item-flag-height: 1.2rem !default;

/// profile body pitch width
/// @group profile-details-body
$fcm-profile-body-pitch-width: 13rem !default;

/// profile body pitch height
/// @group profile-details-body
$fcm-profile-body-pitch-height: 8rem !default;

/// profile body sponsors border color
/// @group profile-details-body
$fcm-profile-body-sponsors-border-color: #e9e9e9 !default;

/// profile body sponsors padding
/// @group profile-details-body
$fcm-profile-body-sponsors-padding: 2rem !default;
