/// fcm first-team filter container padding
/// @group first-team-filter
$fcm-first-team-filter-container-padding: 1rem !default;

/// fcm first-team filter container background color
/// @group first-team-filter
$fcm-first-team-filter-container-bg-color: #f4f4f4 !default;

/// fcm first-team filter container border color
/// @group first-team-filter
$fcm-first-team-filter-container-border-color: #e6e6e6 !default;

/// fcm first-team filter container border width
/// @group first-team-filter
$fcm-first-team-filter-container-border-width: 1px !default;

/// fcm first-team filter container min width
/// @group first-team-filter
$fcm-first-team-filter-container-min-width: 72px !default;



/// fcm first-team filter btn border width
/// @group first-team-filter
$fcm-first-team-filter-btn-border-color: $fcm-first-team-filter-container-border-color !default;

/// fcm first-team filter btn border width
/// @group first-team-filter
$fcm-first-team-filter-btn-border-width: $fcm-first-team-filter-container-border-width !default;

/// fcm first-team filter btn opacity
/// @group first-team-filter
$fcm-first-team-filter-btn-opacity: .6 !default;

/// fcm first-team filter btn active background color
/// @group first-team-filter
$fcm-first-team-filter-btn-active-bg-color: $white !default;


/// fcm first-team filter select border
/// @group first-team-filter
$fcm-first-team-filter-select-border: none !default;

/// fcm first-team filter select left margin
/// @group first-team-filter
$fcm-first-team-filter-select-margin-left: 1rem !default;

/// fcm first-team filter select color
/// @group first-team-filter
$fcm-first-team-filter-select-color: rgba($body-color, .6) !default;

/// fcm first-team filter select active color
/// @group first-team-filter
$fcm-first-team-filter-select-active-color: $body-color !default;

/// fcm first-team filter select font-size
/// @group first-team-filter
$fcm-first-team-filter-select-font-family: $fcm-font-family-medium !default;

