/// fcm squad filter container padding
/// @group squad-filter
$fcm-squad-filter-container-padding: 1rem !default;

/// fcm squad filter container background color
/// @group squad-filter
$fcm-squad-filter-container-bg-color: #f4f4f4 !default;

/// fcm squad filter container border color
/// @group squad-filter
$fcm-squad-filter-container-border-color: #e6e6e6 !default;

/// fcm squad filter container border width
/// @group squad-filter
$fcm-squad-filter-container-border-width: 1px !default;

/// fcm squad filter container min width
/// @group squad-filter
$fcm-squad-filter-container-min-width: 72px !default;



/// fcm squad filter btn border width
/// @group squad-filter
$fcm-squad-filter-btn-border-color: $fcm-squad-filter-container-border-color !default;

/// fcm squad filter btn border width
/// @group squad-filter
$fcm-squad-filter-btn-border-width: $fcm-squad-filter-container-border-width !default;

/// fcm squad filter btn opacity
/// @group squad-filter
$fcm-squad-filter-btn-opacity: .6 !default;

/// fcm squad filter btn active background color
/// @group squad-filter
$fcm-squad-filter-btn-active-bg-color: $white !default;


/// fcm squad filter select border
/// @group squad-filter
$fcm-squad-filter-select-border: none !default;

/// fcm squad filter select left margin
/// @group squad-filter
$fcm-squad-filter-select-margin-left: 1rem !default;

/// fcm squad filter select color
/// @group squad-filter
$fcm-squad-filter-select-color: rgba($body-color, .6) !default;

/// fcm squad filter select active color
/// @group squad-filter
$fcm-squad-filter-select-active-color: $body-color !default;

/// fcm squad filter select font-size
/// @group squad-filter
$fcm-squad-filter-select-font-family: $fcm-font-family-medium !default;

