<app-top-bar [config]="topBarConfig"></app-top-bar>
<div class="d-flex fixed-top fcm-navbar w-100" id="fcm-navbar-wrap"
     [ngClass]="{'side-menu-open': navbarOpen}">
  <nav class="navbar navbar-expand-md navbar-toggleable-md w-100">
    <span class="mr-2" [ngClass]="navbarOpen? 'close-white-big-icon' : 'menu-white-big-icon'"
          (click)="toggleNavbar()"></span>
    <ul class="navbar-nav fcm-list-of-links">
      <li class="nav-item">
        <a class="nav-link" href="#">psg.fr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">billets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">boutique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">myparis</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="squad">
        <a class="nav-link">squad</a>
      </li>
      <li class="nav-item"
          routerLinkActive="active"
          routerLink="league-table">
        <a class="nav-link">league table</a>
      </li>
    </ul>
  </nav>
  <a routerLink="/home" routerLinkActive="active" class="fcm-logo"></a>
  <div class="navbar-right-side d-flex">
    <div ngbDropdown>
      <a class="globe-white-big-icon" id="id01" ngbDropdownToggle></a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">srb</a>
        <a class="dropdown-item" href="#">eng</a>
        <a class="dropdown-item" href="#">de</a>
      </div>
    </div>
  </div>
</div>
<app-side-nav [navbarOpen]="navbarOpen"></app-side-nav>

