<div class="d-flex fixed-top fcm-navbar w-100">
  <nav class="navbar navbar-expand-md navbar-toggleable-md w-100">
    <span class="menu-white-big-icon mr-2" (click)="toggleNavbar()"></span>
    <ul class="navbar-nav fcm-list-of-links">
      <li class="nav-item">
        <a class="nav-link" href="#">psg.fr</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#">billets</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#">boutique</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#">myparis</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="#">experience</a>
      </li>
    </ul>
  </nav>
  <a routerLink="/home" routerLinkActive="active" class="fcm-logo"></a>
  <div class="navbar-right-side d-flex">
    <div ngbDropdown>
      <a class="globe-white-icon" id="id01" ngbDropdownToggle></a>
      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
        <a class="dropdown-item" href="#">srb</a>
        <a class="dropdown-item" href="#">eng</a>
        <a class="dropdown-item" href="#">de</a>
      </div>
    </div>
  </div>
</div>
<div class="collapse navbar-collapse fcm-side-menu"
     [ngClass]="{ 'show': navbarOpen }">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">psg.fr</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">billets</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">boutique</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">myparis</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">experience</a>
    </li>
  </ul>
</div>
