/// fcm side nav navbar active bg color
/// @group side-nav
$fcm-side-nav-navbar-active-bg-color: $primary !default;

/// fcm side nav width
/// @group side-nav
$fcm-side-nav-navbar-width: 35rem !default;

/// fcm side nav navbar padding
/// @group side-nav
$fcm-side-nav-navbar-padding: #{$fcm-navbar-total-height} 0 0 !default;

/// fcm side nav navbar transition
/// @group side-nav
$fcm-side-nav-navbar-transition: $fcm-navbar-transition !default;

/// fcm side nav item color
/// @group side-nav
$fcm-side-nav-item-color: rgba($white, .5) !default;

/// fcm side nav item font-family
/// @group side-nav
$fcm-side-nav-item-font-family: $fcm-font-family-gothic !default;

/// fcm side nav item font-size
/// @group side-nav
$fcm-side-nav-item-font-size: $fcm-font-size-md !default;

/// fcm side nav item background color
/// @group side-nav
$fcm-side-nav-item-bg-color: rgba(166,173,187, .3) !default;

/// fcm side nav item padding
/// @group side-nav
$fcm-side-nav-item-padding: 1rem 2.5rem !default;

/// fcm side nav item over color
/// @group side-nav
$fcm-side-nav-item-over-color: $white !default;

/// fcm side nav item transition
/// @group side-nav
$fcm-side-nav-item-transition: 'all .2s ease-in-out' !default;

/// fcm side nav box-shadow
/// @group side-nav
$fcm-side-nav-box-shadow: 3px 15px 15px $black !default;
