.#{$prefix}footer {
  background-color: $primary-medium-dark;
  display: flex;
  justify-content: center;
  font-family: $fcm-font-family-gothic;
  
  .#{$prefix}footer-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 140rem;
  }
  
  .#{$prefix}footer-grid {
    display: flex;
    color: white;
    padding: 4rem 0;
    max-width: 116rem;
    width: 100%;
    margin: 0 auto;
    
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    
    .#{$prefix}footer-nav-holder {
      flex: 1;
      display: flex;
      max-width: 103.4rem;
      flex-direction: column;
    }
    
    .#{$prefix}footer-nav-row {
      display: flex;
      padding-bottom: 2rem;
      flex-wrap: wrap;
    }
  
    .#{$prefix}footer-nav {
      flex: 1;
      min-width: 25.85rem;
    }
    
    .#{$prefix}footer-nav-title {
      font-weight: 700;
      font-size: $fcm-font-size;
      text-transform: uppercase;
    }
    
    .#{$prefix}footer-nav-link {
      color: #a6adbb;
      font-family: $fcm-font-family;
      font-size: $fcm-font-size-sm;
    }
    
    .#{$prefix}footer-logo-holder {
      display: flex;
      flex-direction: column;
      
      .#{$prefix}footer-logo {
        margin-top: 10rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-image: url('#{$fcm-img-path}logo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
