.#{$prefix}footer {
  background-color: $fcm-footer-bg-color;
  display: flex;
  font-family: $fcm-footer-font-family;
  justify-content: center;
  
  .#{$prefix}footer-inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $fcm-footer-inner-max-width;
  }
  
  .#{$prefix}footer-grid {
    color: white;
    display: flex;
    margin: 0 auto;
    max-width: $fcm-footer-grid-max-width;
    padding: $fcm-footer-grid-padding;
    width: 100%;
    
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    
    .#{$prefix}footer-nav-holder {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    
    .#{$prefix}footer-nav-row {
      display: flex;
      flex-wrap: wrap;
      padding: $fcm-footer-nav-row-padding;
    }
    
    .#{$prefix}footer-nav {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-width: $fcm-footer-nav-max-width;
  
      li {
        line-height: $fcm-footer-nav-li-line-height;
      }
      
      @include media-breakpoint-down(sm) {
        min-width: $fcm-footer-nav-xs-max-width;
        margin-bottom: $fcm-footer-nav-xs-spacing-bottom;
      }
    }
    
    .#{$prefix}footer-nav-title {
      font-size: $fcm-font-size;
      margin-bottom: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    
    .#{$prefix}footer-nav-link {
      color: $fcm-footer-nav-title-color;
      font-family: $fcm-footer-nav-title-font-family;
      font-size: $fcm-footer-nav-title-font-size;
    }
    
    .#{$prefix}footer-logo-holder {
      display: flex;
      flex-direction: column;
  
      @include media-breakpoint-down(md) {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 2rem;
      }
      
      .#{$prefix}footer-logo {
        background-image: url('#{$fcm-img-path}logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        height: $fcm-footer-nav-logo-size;
        margin-top: $fcm-footer-nav-logo-size;
        width: $fcm-footer-nav-logo-size;
  
        @include media-breakpoint-down(md) {
          margin-top: 0;
          margin-right: 10rem;
        }
  
        @media screen and (max-width: 375px) {
          margin-right: 3rem;
        }
      }
    }
  }
}
