<div class="fcm-team-member" [style.backgroundImage]="'url(' + member.image + ')'">
  <div class="fcm-team-member-overlay" *ngIf="member.statistic">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div *ngIf="member.statistic.appearances">
            <h3>{{member.statistic.appearances}}</h3>
            <span>Appearances</span>
          </div>
        </div>
        <div class="col-6">
          <div *ngIf="member.statistic.minutes_played">
            <h3>{{member.statistic.minutes_played}}</h3>
            <span>Minutes played</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div *ngIf="member.statistic.clean_sheets">
            <h3>{{member.statistic.clean_sheets}}</h3>
            <span>Clean sheets</span>
          </div>
          <div *ngIf="member.statistic.goals">
            <h3>{{member.statistic.goals}}</h3>
            <span>Goals</span>
          </div>
        </div>
        <div class="col-6">
          <div *ngIf="member.statistic.saves">
            <h3>{{member.statistic.saves}}</h3>
            <span>Saves</span>
          </div>
          <div *ngIf="member.statistic.assists">
            <h3>{{member.statistic.assists}}</h3>
            <span>Assists</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fcm-team-member-header">{{member.number}}</div>
  <div class="fcm-team-member-body">
    <p class="fcm-team-member-position-title">{{member.position}}</p>
    <p class="fcm-team-member-name">{{member.name}}</p>
  </div>
  <div class="fcm-team-member-footer">PLAYER PROFILE</div>
</div>
