<div class="card fcm-team-member-card" [style.backgroundImage]="'url(' + member.image + ')'">
  <div class="fcm-member-overlay d-none" *ngIf="member.statistic">
    <div *ngIf="member.statistic.appearances">
      <h3>{{member.statistic.appearances}}</h3>
      <span>Appearances</span>
    </div>
    <div *ngIf="member.statistic.minutes_played">
      <h3>{{member.statistic.minutes_played}}</h3>
      <span>Minutes played</span>
    </div>
    <div *ngIf="member.statistic.clean_sheets">
      <h3>{{member.statistic.clean_sheets}}</h3>
      <span>Clean sheets</span>
    </div>
    <div *ngIf="member.statistic.saves">
      <h3>{{member.statistic.saves}}</h3>
      <span>Saves</span>
    </div>
    <div *ngIf="member.statistic.goals">
      <h3>{{member.statistic.goals}}</h3>
      <span>Goals</span>
    </div>
    <div *ngIf="member.statistic.assists">
      <h3>{{member.statistic.assists}}</h3>
      <span>Assists</span>
    </div>
  </div>
  <div class="card-header bg-transparent border-success">{{member.number}}</div>
  <div class="card-body">
    <p>{{member.position}}</p>
    <p>{{member.name}}</p>
  </div>
  <div class="card-footer bg-transparent border-success">PLAYER PROFILE</div>
</div>
