<div class="fcm-tabbar">
  <div class="btn-group" role="group">
    <button type="button"
            routerLinkActive="active"
            routerLink="squad"
            class="btn">Squad
    </button>
    <button type="button"
            routerLinkActive="active"
            routerLink="league-table"
            class="btn">League table
    </button>
    <button type="button"
            routerLinkActive="active"
            routerLink="fixtures-and-results"
            class="btn">Feaxtures and results
    </button>
  </div>
</div>
