.#{$prefix}first-team-page {
  
  .#{$prefix}member-wrap {
    
    &.col-lg-4 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  
  
  /// @group first-team-filter
  .#{$prefix}first-team-filter-container {
    display: flex;
    min-height: $fcm-first-team-filter-container-min-width;
    justify-content: center;
    align-items: center;
    padding: $fcm-first-team-filter-container-padding;
    background-color: $fcm-first-team-filter-container-bg-color;
    border-bottom: $fcm-first-team-filter-container-border-width solid $fcm-first-team-filter-container-border-color;
    
    .btn {
      border: $fcm-first-team-filter-btn-border-width solid $fcm-first-team-filter-btn-border-color;
      opacity: $fcm-first-team-filter-btn-opacity;
      
      &.active {
        opacity: 1;
        background-color: $fcm-first-team-filter-btn-active-bg-color;
      }
    }
    
    .#{$prefix}first-team-filter-select {
      margin-left: $fcm-first-team-filter-select-margin-left;
      border: $fcm-first-team-filter-select-border;
      outline: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      color: $fcm-first-team-filter-select-color;
      font-family: $fcm-first-team-filter-select-font-family;
      
      &.active {
        color: $fcm-first-team-filter-select-active-color;
      }
    }
  }
  
  
  /// @group fcm-position-container
  .#{$prefix}position-container {
  
    &:first-of-type {
      
      .#{$prefix}position-title {
        margin-top: 5rem;
      }
    }
    
    .#{$prefix}position-title {
      margin: 2rem 0 5rem 2rem;
      font-family: $fcm-font-family-bold;
    }
  }
}
