<div class="fcm-social-bar"
     [ngClass]="socialBarCls">
  <div class="fcm-social-bar-header">
    <h6 class="fcm-social-bar-title">Join us</h6>
  </div>
  <div class="fcm-social-bar-body">
    <a href="https://www.facebook.com" target="_blank" class="fcm-social-bar-icon facebook"></a>
    <a href="https://www.instagram.com" target="_blank" class="fcm-social-bar-icon instagram"></a>
    <a href="https://twitter.com" target="_blank" class="fcm-social-bar-icon twitter"></a>
    <a href="https://www.youtube.com" target="_blank" class="fcm-social-bar-icon youtube"></a>
  </div>
</div>
